@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #FBF1DC;
}

.Imagenes {
  width: 450px;
  height: 330px;
  border-radius: 10px;
  object-fit: cover;
}


.btnNeumorphism {
  background: #fffbf3;
  border: none;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #81674e;
  box-shadow:
    -10px -10px -15px #ffffff79,
    10px 10px 15px #ffffff79;
  cursor: pointer;
  transition: all 0.3s ease;
}

.descripcion {
  text-align: justify;
  hyphens: auto;
}
