@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #FBF1DC;
}

html {
  scroll-behavior: smooth;
}


.Imagenes {
  width: 500px;
  height: 300px;
  object-fit: cover;
  filter: drop-shadow(0 0 2px #0000003b);
}


.btnNeumorphism {
  background: #fffbf3;
  border: none;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #81674e;
  box-shadow:
    -10px -10px -15px #ffffff79,
    10px 10px 15px #ffffff79;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnNeumorphism:hover {
  background: #d8d4cb;
  color: #4d331b;
}

.descripcion {
  text-align: justify;
  hyphens: auto;
  font-size: 20px;
}

.subTitle {
  background: #FBF1DC;
  border-radius: 20px;
  box-shadow:
    0px 0px 15px #e7e4e4,
    inset 0px 0px 5px #0000007e;
  text-align: center;
  transition: all 0.3s ease;
}

.iconContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.2s;
  align-items: center;
  cursor: pointer;
}


.iconContact:hover {
  transform: translateY(-5px);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.iconGmail {
  color: #424866;
  transition: 0.2s;
}

.iconGmail:hover {
  color: #e22311;
}

.iconFacebook {
  color: #424866;
  transition: 0.2s;
}

.iconFacebook:hover {
  color: #277dee;
}


.iconWhatsapp {
  color: #424866;
  transition: 0.2s;
}

.iconWhatsapp:hover {
  color: #00f80c;
}

.iconInstagram {
  color: #424866;
  transition: 0.2s;
}

.iconInstagram:hover {
  color: #f15e19;
}

.shadowCardTitle {
  text-shadow: 0 0 2px #0000006e;
}

.shadowCard {
  box-shadow: 0 0 4px #00000063;
}

.btnCard {
  background: #81674e;
  border: none;
  margin: 10px 0;
  padding: 5px 15px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #fffbf3;
  box-shadow:
    -10px -10px -15px #ffffff79,
    10px 10px 15px #ffffff79;
  cursor: pointer;
  transition: all 0.3s ease;
}


.btnCard:hover {
  background: #5c4937;
  color: #ffffff;
}

.menuResponsive {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  left: 0;
  gap: 5px;
  width: 100%;
  color: #e9e6e6;
  position: absolute;
  top: calc(-280px);
  transition: 0.5s;
  flex-direction: column;
  background-color: #0E6F7C;
  z-index: -1;
}

.menuResponsive.on {
  top: 55px;
}
