@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #FBF1DC;
}

.Imagenes {
  width: 500px;
  height: 300px;
  object-fit: cover;
  filter: drop-shadow(0 0 2px #0000003b);
}


.btnNeumorphism {
  background: #fffbf3;
  border: none;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #81674e;
  box-shadow:
    -10px -10px -15px #ffffff79,
    10px 10px 15px #ffffff79;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnNeumorphism:hover {
  background: #d8d4cb;
  color: #4d331b;
}

.descripcion {
  text-align: justify;
  hyphens: auto;
  font-size: 18px;
}

.subTitle {
  background: #FBF1DC;
  border-radius: 20px;
  box-shadow:
    0px 0px 15px #e7e4e4,
    inset 0px 0px 5px #0000007e;
  text-align: center;
  transition: all 0.3s ease;
}
